body {
    background-color:#212529;
    font-family: 'Press Start 2P', cursive;
}

.row {
    padding-top: 5rem!important;
    padding-bottom: 0rem!important;
}

.album {
    padding-top: 0rem!important;
}
h1 {
    color: #f35626;
    font-weight: 800;
    /* font-size: 69px; */

    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(360deg);
    }
}

.funky-text {
    color: #f35626;
    font-size: 10px;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}

.lead{
    color: whitesmoke;
    font-weight: 500;
    font-family: 'Electrolize', sans-serif;

}

.card {
    background-color: #212529;
  
}

.btn {
    font-weight: 600;
    font-family: 'Electrolize', sans-serif;
}

.imageContainer {
    float:left;
}

p {
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.imageContainer {
    padding: 10px;
}



